* {
    color: #c4c4c4;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav, section {
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    padding: 10px;
    background-color: #16181f;
}

.mainBackground {
    background-color: #282a36 ;
}

.linkButton {
    border: 2px solid #F5F5F5;
    padding: 10px;
    font-size: small;
    text-decoration: none;  /*kill the underline*/
} 

.centerText {
    text-align: center;
}