.navbar {
    display: flex;
    justify-content: center;
}

.navbar ul {
    width: 100%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 0 0.5rem;
    list-style: none;
}

.navbar ul li:first-child {
    margin-right: auto;
}

.navbar ul li:last-child {
    margin-left: auto;
}

.navbar ul li a {
    padding: 1rem;

    display: inline-block;
    text-decoration: none;
}

.navbar ul li:hover {
    background-color: #d3d3d3;
}